#root {
  min-height: 100vh;
  font-size: 100%;
  background-image: url("./pics/pexels-pixabay-314726.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
}

html {
  background-color: black;
}

* {
  color: black;
}
